registry=http://10.0.3.8:4873
http://10.0.3.8:4873/:_password=andtem111
http://10.0.3.8:4873/:username=and_tem
http://10.0.3.8:4873/:email=ipad_nw@icloud.com
http://10.0.3.8:4873/:always-auth=true
@myScope:registry=http://10.0.3.8:4873
ca = null
always-auth = true
