//10.0.3.8:4873/:_authToken="GllApVfVKsLz9LOxgYOuLwU0qGFO6vCyjjbRHMFV4fY="
//registry.npmjs.org/:_authToken=6cfeb15b-b9ef-4647-b3fc-ef98e8effcf2
{
  "publishConfig": {
    "registry": "http://10.0.3.8:4873",
    "tag": "latest"
  }
}
